/* general */
.spanproductsAlerts {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spanproductsSellSucces {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productsContainerButtons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 50px;
  width: 100%;
}

.squareContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.squareContainerProduct {
  width: 150px;
  min-height: 100px;
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.squareFeatures {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

/* colores de cada producto */
.squareRedAmaranthImg {
  width: 100px;
  height: 100px;
  background-color: #f34b6d;
  border: solid 5px red;
}

.squareRedAmaranthCartImg {
  width: 30px;
  height: 30px;
  background-color: #f34b6d;
  border: solid 5px red;
}

.squareCarmineVermilionImg {
  width: 100px;
  height: 100px;
  background-color: #e34233;
  border: solid 5px #960018;
}

.squareCarmineVermilionCartImg {
  width: 30px;
  height: 30px;
  background-color: #e34233;
  border: solid 5px #960018;
}

.squareMajorelleSapphireImg {
  width: 100px;
  height: 100px;
  background-color: #0131b4;
  border: solid 5px #0000e1;
}

.squareMajorelleSapphireCartImg {
  width: 30px;
  height: 30px;
  background-color: #0131b4;
  border: solid 5px #0000e1;
}

.squarePrussiaMarineImg {
  width: 100px;
  height: 100px;
  background-color: #120a8f;
  border: solid 5px #003153;
}

.squarePrussiaMarineCartImg {
  width: 30px;
  height: 30px;
  background-color: #120a8f;
  border: solid 5px #003153;
}

.squareSteelKleinImg {
  width: 100px;
  height: 100px;
  background-color: lightsteelblue;
  border: solid 5px #002fa7;
}

.squareSteelKleinCartImg {
  width: 30px;
  height: 30px;
  background-color: lightsteelblue;
  border: solid 5px #002fa7;
}

.squarYellowAmberImg {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: solid 5px #ffc005;
}

.squarYellowAmberCartImg {
  width: 30px;
  height: 30px;
  background-color: yellow;
  border: solid 5px #ffc005;
}

.squareTopazGoldenImg {
  width: 100px;
  height: 100px;
  background-color: #e3a857;
  border: solid 5px gold;
}

.squareTopazGoldenCartImg {
  width: 30px;
  height: 30px;
  background-color: #e3a857;
  border: solid 5px gold;
}

.squarWhiteBlackImg {
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid 5px black;
}

.squarWhiteBlackCartImg {
  width: 30px;
  height: 30px;
  background-color: white;
  border: solid 5px black;
}

.squareGreyBoneImg {
  width: 100px;
  height: 100px;
  background-color: gray;
  border: solid 5px beige;
}

.squareGreyBoneCartImg {
  width: 30px;
  height: 30px;
  background-color: gray;
  border: solid 5px beige;
}

.squareBlackWhiteImg {
  width: 100px;
  height: 100px;
  background-color: black;
  border: solid 5px white;
}

.squareBlackWhiteCartImg {
  width: 30px;
  height: 30px;
  background-color: black;
  border: solid 5px white;
}
/*# sourceMappingURL=products.css.map */